 <div style="padding: 20px;">
        <h3>{{description}}</h3>
        <nav>
          <p-button routerLink="customer" style="margin-left: 5px" class="btn btn-primary active" role="button" routerLinkActive="active" label="Customers"></p-button>
          <p-button routerLink="add" style="margin-left: 5px" class="btn btn-primary active" role="button" routerLinkActive="active" label="Add"></p-button>
          <p-button routerLink="findbyage" style="margin-left: 5px" class="btn btn-primary active" role="button" routerLinkActive="active" label="Search"></p-button>
          <!-- <p-button routerLink="update" style="margin-left: 5px" class="btn btn-primary active" role="button" routerLinkActive="active" label="Update"></p-button>  -->
        </nav>
        <router-outlet></router-outlet>
      </div> 
